

<html lang="en">
<head>
   {{>headLinks}}
   <style>
@media (max-width: 768px) {
   
 .login-form{
  padding-top: 35px;
 }   

.main-div {
  background: #ffffff none repeat scroll 0 0;
  border-radius: 2px;
  margin: 10px auto 30px;
  max-width: 100%;
  padding: 50px 70px 70px 71px;

}

}
   </style>
   </head>
<body>

  {{>Navbar}}





<html>
  
<body id="LoginForm">
<div class="container">
<h1 class="form-heading">login Form</h1>
<div class="login-form">
<div class="main-div">
    <div class="panel">
   <h2>Admin Login</h2>
   <p>Please enter your email and password</p>
   </div>
    <form action="/login" method="POST">

        <div class="form-group">


            <input type="email" autocomplete="off" class="form-control" id="inputEmail" placeholder="Email Address" name="emaill">

        </div>

        <div class="form-group">

            <input type="password" class="form-control" id="inputPassword" placeholder="Password" name="passwordd">

        </div>
        <div class="forgot">
        <a href="reset.html">Forgot password?</a>
      </div>
        <button type="submit" class="btn btn-primary">Login</button>

    </form>
    </div>
<p class="botto-text"> Designed by Saurabh @pande</p>
</div></div></div>

<script src="src.app.js"></script>
</body>
</html>
{{>footer}}